@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaoblique';
    src: url('../fonts/helvetica-oblique-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{box-sizing: border-box;}
body{margin: 0;padding: 0;font-family: 'helveticabold';}

.main-body
{
    width: 100%;
    background: #000;
    padding: 40px 0;
    position: relative;
}
.main-body:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    display: block;
    left: 0;
    top: 0;
    background: #ecadbc;
}
.main-body:after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    display: block;
    left: 0;
    bottom: 0;
    background: #ecadbc;
}
.logo
{
    display: block;
    margin: 40px 60px;
    text-align: right;
    
}
.logo img
{
    height: 60px;
}
.content-box
{
    padding: 30px 0;
}
.content-box h1
{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #ecadbc;
}
.text-hand
{
    width: 45px;
}
.border-bottom
{
    border-color: #727273 !important;
}
.content-box h2
{
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #fff;
}
.content-box h2 span
{
    color: #ecadbc;
    font-style: italic;
}
.btns-box
{
    position: relative;
    margin: 40px 0;
}
.btn-tap
{
    width: 200px;
    height: 50px;
    font-size: 30px;
    line-height: 1.2;
    background: #ecadbc;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    transition: all .5s ease-in-out;
}
.btn-tap:before
{
    content: '';
    position: absolute;
    width: 7px;
    height: 100%;
    top: 7px;
    right: -7px;
    background: #f8e1e6;
    transition: all .5s ease-in-out;
}
.btn-tap:after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: -7px;
    left: 7px;
    background: #f8e1e6;
    transition: all .5s ease-in-out;
}
.btn-tap:hover
{
    background: #f8e1e6;
    color: #ecadbc;
}
.btn-tap:hover:after,
.btn-tap:hover:before
{
    background:#ecadbc; 
}
.hand-cursor
{
    position: absolute;
    left: -42px;
    width: 60px;
    top: 10px;
    z-index: 2;
}
.content-box h1.last-h1
{
    color: #fff;
    font-size: 40px;
}
.content-box h1.last-h1 span
{
    color: #ecadbc;
}
.spin-top-img
{
    margin: 30px auto 20px;
    width: 90%;
}
.text-t
{
    width: 70px;
    position: absolute;
    left: 4px;
    top: 40%;
    transform: rotate(-90deg) translateY(-20%);
}
.spin-box
{
    position: relative;
    margin: 15px 0 40px;
}
.spin-box:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 63px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 40px 20px 0;
    border-color: transparent #8f8f8f transparent transparent;
    transform: translateY(-50%);
}
.modal-dialog {
    max-width: 52%;
}
.modal-header
{
    border-bottom: none;
}
.modal-content {
    border: none;
    border-radius: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f194a3+0,f49eaf+100 */
    background: rgb(241,148,163); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(241,148,163,1) 0%, rgba(244,158,175,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(241,148,163,1) 0%,rgba(244,158,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(241,148,163,1) 0%,rgba(244,158,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f194a3', endColorstr='#f49eaf',GradientType=0 ); /* IE6-9 */
}
.modal-body {
    padding: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f194a3+0,f49eaf+100 */
    background: rgb(241,148,163); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(241,148,163,1) 0%, rgba(244,158,175,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(241,148,163,1) 0%,rgba(244,158,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(241,148,163,1) 0%,rgba(244,158,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f194a3', endColorstr='#f49eaf',GradientType=0 ); /* IE6-9 */
}
.modal-content .close {
    padding: 0;
    border: none;
    height: 30px;
    margin: -23px -13px 0 auto;
    color: #fff;
    opacity: 1;
}
.modal-body h1
{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #000;
    padding: 10px 30px;
}
.modal-body h1 span
{
    color: #fff;
}
.modal-body h2
{
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #000;
    padding: 0 30px;
    margin-bottom: 0;
}
.modal-body .bg-white h2
{
    padding: 15px 30px;
}
.spin-middil
{
    height: 158px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -52%);
}
#party-js-canvas {
  z-index: 999999;
}

@media only screen and (max-width: 1024px)
{
    .content-box h1
    {
        font-size: 45px;
    }
    .logo
    {
        margin: 20px 0;
    }
    .content-box h2
    {
        font-size: 23px;
    }
    .btn-tap
    {
        font-size: 26px;
        width: 180px;
        height: 45px;
    }
    .content-box h1.last-h1
    {
        font-size: 30px;
    }
    .text-t {
        width: 65px;
        left: -19px;
        top: 40%;
    }
    .spin-box:before
    {
        right: 20px;
    }
}